@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body{
  margin: 3vh 15vh;
  max-width: 1440px;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.dark .name .low{
  color: #C0C0C0;
}
.light .name .low{
  color: hsl(228, 12%, 44%);
}

/* mode-switch */
.light{
  background-image: linear-gradient(hsl(225, 100%, 98%) 30%, hsl(0, 0%, 100%) 30%);
  color: hsl(230, 17%, 14%);
}
.dark{
  background-image: linear-gradient(hsl(232, 19%, 15%) 30%, hsl(230, 17%, 14%) 30%);
  color: hsl(0, 0%, 100%);
}

/* cards */
.column {
  float: left;
  width: 23%;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-top: 1.1rem;
}



.tag{
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.name{
  padding: 0px 10px;
  font-weight: bolder;
}
.card h1{
  font-size: 2.9rem;
  font-weight: bolder;
}
.card{
  cursor: pointer;
}

/* respnsiveness */
@media screen and (max-width: 1200px) {
  body{
    margin: 4vh 8vh;
  }
}
@media screen and (max-width: 700px){
  .header{
    flex-direction: column;
  }
  body{
    margin: 4vh 4vh;
  }
  .right{
    margin-top: 1.75rem;
    width: 100%;
  }
}
