/* mode switch */
.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 30px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
} 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: hsl(228, 28%, 20%);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: white;
}
   
.slider.round {
    border-radius: 30px;
}
.slider.round:before {
    border-radius: 50%;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.left-header h2{
    font-size: medium;
    font-weight: 1000;
}
.left-header h1{
    font-size: xx-large;
}
.right-header{
    display: flex;
    margin-top: 15px;
}
.right-header h3{
    margin: 3px 12px;
}

/* responsiveness */
@media screen and (max-width: 700px){
    .right-header{
        justify-content: space-between;
    }
}